// Colors
$white: #FFFFFF;
$off-white: #FAF9F6;
$black: #000000;
$green: #2ECC71;
$red: #E74C3C;
$blue: #3498DB;

$cornflowerblue: #6499E9;
$colombia_blue: #9EDDFF;
$paleturquoise: #A6F6FF;
$cute_blue: #BEFFF7;
$sexy_blue: #1e3a8a;

$yellow: #F1C40F;
$orange: #ffc229;
$purple: #8E44AD;
$soft-purple: #95b7ff;
$turquoise: #1ABC9C;
$light-gray: #D3D3D3;
$gray: #7D7D7D;
$beige: #f5f5dc;
$pink: #e7b2ff;
$peach: #FFE5B4; // A warm, friendly, and inviting color that’s not too overwhelming.
$peach: #FFDAB9;
$cyan: #00FFFF;
$sky-blue: #87CEEB; // Gives off a calming and serene feeling. Background colors
$indigo: #4B0082;
$maroon: #800000;
$navy: #000080;
$olive: #808000;
$lime: #00FF00;
$mint: #98FF98; // Mint is calming and fresh. Lavender (E6E6FA) - This shade is often associated with tranquility and calmness
$gold: #FDB813; // This color is often associated with sunshine happiness
