// Colors
$white: #FFFFFF;
$black: #000000;
$green: #2ECC71;
$red: #E74C3C;
$blue: #3498DB;
$yellow: #F1C40F;
$orange: #ffc229;
$purple: #8E44AD;
$turquoise: #1ABC9C;
$light-gray: #D0D0D0;
$gray: #7D7D7D;
$pink: #e7b2ff;
$peach: #FFDAB9;
$cyan: #00FFFF;
$indigo: #4B0082;
$maroon: #800000;
$navy: #000080;
$olive: #808000;
$lime: #00FF00;
$gold: #FFD700;
