// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Montserrat:wght@100&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

// Fonts
$amatic-font: 'Amatic SC', "cursive";
$pacifico-font: 'Pacifico', "cursive";
$nunito-font: 'Nunito', "sans-serif";
$moderno-font: 'MuseoModerno', "sans-serif";

// Define fonts for body and headers
$body-font: $nunito-font;
$headers-font: $amatic-font;

// CSS rules for body and headers
body {
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
}
