// Style default text Style, default links & reset all margins and paddings

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  background-color: $color-background;
  color: $color-text-body;
  line-height: $line-height-body;
  font-family: $font-family-sans;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   color: $color-text-header;
//   line-height: $line-height-headers;
// }

h2 {
  font-size: $font-size-xxl;
}

h3 {
  font-size: $font-size-xl;
}

h4 {
  font-size: $font-size-l;
}

a {
  color: $color-primary;
  text-decoration: none;
  transition: color 200ms;

  &:hover,
  &:focus,
  &:active {
    color: $color-primary-rotate;
  }
}
