.dashboards_header {
  font-family: $headers-font;
  font-size: 36px !important;
}

.calendar_header {
  font-family: $headers-font;
}

.dash-box {
  background-color: $white;
  color: $black;
  box-shadow: $box-shadow;
  border-radius: 5px;
  padding: 24px;
}

.poetry-box {
  background-color: $white;
  color: $black;
  box-shadow: $box-shadow;
  border-radius: 5px;
  padding: 34px;
}
