.dashboards_header {
  font-family: $headers-font;
  font-size: 36px !important;
}

.dash-box {
  background-color: rgb(229, 243, 255);
  opacity: 80%;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}
