.happy-count {
  font-family: $headers-font;
  font-size: 60pt;
  margin: 20px;
}

.word-cloud {
  span {
    margin: 3px;
    padding: 2px;
  }

  .word-1 {
    font-size: 1rem;
  }

  .word-2 {
    font-size: 1.2rem;
  }

  .word-3 {
    font-size: 1.4rem;
  }

  .word-4 {
    font-size: 1.6rem;
  }

  .word-5 {
    font-size: 1.8rem;
  }
}
