// Import the media mixin
@import "mixins/media";

.header {
  display: flex;
  flex-wrap: wrap;
  gap: $space-s;
  justify-content: space-between;
  margin-top: $space-m;
  margin-bottom: $space-m;
  width: 100%;

  @include media(tabletAndUp) {
    margin-bottom: $space-xl;
  }
}
