<nav class="bottom-navbar-media bottom-navbar fixed-bottom">
  <div class="nav-item">
    <%= link_to root_path, class: "nav-link bottom-nav-icons" do %>
      <i class="fa-solid fa-house-tsunami"></i>
      <p>Home</p>
    <% end %>
  </div>
  <div class="nav-item nav-item-large">
    <%= link_to new_happy_thing_path, class: "nav-link bottom-nav-icons" do %>
      <i class="fa-regular fa-face-smile"></i>
      <p>New Thing</p>
    <% end %>
  </div>
  <div class="nav-item">
    <%= link_to analytics_happy_things_path, class: "nav-link bottom-nav-icons" do %>
      <i class="fa-regular fa-user"></i>
      <p>Profile</p>
    <% end %>
  </div>
</nav>
