<nav class="bottom-navbar-media bottom-navbar fixed-bottom">
  <div class="nav-item">
    <%= link_to users_path, class: "nav-link bottom-nav-icons" do %>
      <i class="fa-solid fa-house-tsunami"></i>
      <p>Friends</p>
    <% end %>
  </div>
  <div class="nav-item middle-item">
    <%= link_to new_happy_thing_path, class: "nav-link bottom-nav-icons" do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>
  <div class="nav-item">
    <%= link_to analytics_happy_things_path, class: "nav-link bottom-nav-icons" do %>
      <i class="fa-regular fa-user"></i>
      <p>Profile</p>
    <% end %>
  </div>
</nav>
