<div class="homepage-container">
  <div class="homepage-content">

    <div class="logo-home">
        <%= image_tag "five.png", alt: "Five Things Logo" %>
    </div>

    <h1 class="homepage-title">What made you happy today?</h1>
    
    <div class="homepage-actions">
      <%= link_to "Sign Up", onboarding_path, class: "button--primary" %>
      <%= link_to "Log In", new_user_session_path, class: "button--secondary" %>
    </div>
  </div>
</div>
