<!-- app/views/happy_things/_happy_thing.html.erb -->

<div class="happy_thing shadow">
    <% if happy_thing.photo.attached? %>
        <span>📸</span>
    <% end %>
    <%= happy_thing.title %>
    <div class="happy_thing_creator">
    </div>

    <div class="happy_thing__actions">
        <%= button_to "X", happy_thing_path(happy_thing), method: :delete, class: "btn btn--light" %>
        <%= link_to "Edit", edit_happy_thing_path(happy_thing), class: "btn btn--light edit-link" %>
    </div>
</div>
