<%= link_to happy_thing_path(happy_thing) do %>
    <div class="happy_thing">
        <div class="happy_thing_title">
            <%= happy_thing.title %>
        </div>
        <div class="happy_thing_footer">
            <div class="happy_thing_photo_emoji">
                <% if happy_thing.photo.attached? %>
                    <%= "📸" %>
                <% end %>
            </div>
            <div class="happy_thing_date">
                <%= friendly_date(happy_thing.start_time) %>
            </div>
        </div>
    </div>
<% end %>