<div class="container">
  <div class="header">
    <h1>Edit happy thing</h1>
  </div>

  <%= render "form", happy_thing: @happy_thing %>

  <%= button_to "ðŸ—‘ï¸ Delete", happy_thing_path(@happy_thing), method: :delete, class: "btn btn--light" %>
</div>
