<main class="container">
  <%= link_to sanitize("&larr; Back to quote"), happy_thing_path(@happy_thing) %>

  <div class="header">
    <h1>Edit happy thing</h1>
  </div>

  <%= turbo_frame_tag "happy_thing_#{@happy_thing.id}" do %>
    <%= render "form", happy_thing: @happy_thing %>
  <% end %>
</main>
