<div class="container mb-5">
  <%= link_to sanitize("&larr;"), root_path, class: "btn button--primary m-4" %>
    <% if current_user %>
      <div class="header">
        <h1>Happy Things</h1>
      </div>
    <% end %>
    <% @happy_things.each do |happy_thing|  %>
      <%= render 'happy_things/happy_thing', happy_thing: happy_thing %>
    <% end %>
  <%= paginate @happy_things %>
</div>
