<div class="container">
  <%= turbo_frame_tag "first_turbo_frame" do %>
    <div class="header">
      <% if current_user %>

      <h1>Happy Things</h1>
    </div>
  <% end %>

    <%= render @happy_things %>
    <% end %>
</div>
