<main class="container">
  <div class="header shadow">
    <h1>Happy Things</h1>
    <%= link_to "New happy thing",
                new_happy_thing_path,
                class: "btn btn--primary" %>
  </div>

  <%= render @happy_things %>
</main>
