<div class="container">
  <%= link_to sanitize("&larr;"), root_path, class: "btn btn-blue m-4" %>

  <div class="header">
    <h1>New happy thing</h1>
  </div>

  <%= render "form", happy_thing: @happy_thing %>
</div>
