<div class="container my-3">
  <%= link_to sanitize("&larr;"), root_path, class: "btn button--primary" %>

  <%= render "form", happy_thing: @old_happy_thing, title: t('simple_form.happy_things.old_happy_thing.titles.form_title') %>
</div>
