<main class="container mt-5">
  <%= link_to sanitize("&larr;"), root_path, class: "btn btn-blue m-4" %>
  <div class="header d-flex justify-content-center text-center">
    <h1>
      <%= @happy_thing.title %>
      <%= cl_image_tag @happy_thing.photo.key, class: "rounded", height: 300, width: 400, crop: :fill if @happy_thing.photo.key %>
    </h1>
  </div>
</main>
