<div data-install-prompt-target="androidChromeEdgeNative" style="display: none;">
    <p>Tap <span class="text-emphasized">Install</span> below to add to your home screen</p>
</div>
<div data-install-prompt-target="androidChromeEdgeFallback" style="display: none;">
    <ol>
        <li>
            Tap
            <span class="text-emphasized">
                <svg fill="currentColor" class="inline-icon inline-icon--small" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                </svg>
            </span>
        </li>
        <li>
            Tap <span class="text-emphasized">Install app</span> or <span class="text-emphasized">Add to Home screen</span>
        </li>
    </ol>
</div>
