sup desktop
<div data-install-prompt-target="desktopChromeEdgeNative" style="display: none;">
    <p>native</p>
</div>
<div data-install-prompt-target="desktopChromeEdgeFallback" style="display: none;">
    <p>fallback</p>
</div>