<div data-install-prompt-target="desktopChromeEdgeNative" style="display: none;">
    <p>Click <span class="text-emphasized">Install</span> below to get the app on your desktop</p>
</div>
<div data-install-prompt-target="desktopChromeEdgeFallback" style="display: none;">
    <p>Look for 
        <span class="text-emphasized">
            <%= image_tag "icons/install-android-desktop-icon.svg", class: "inline-icon", alt: "Install icon" %>
        </span>
        in the URL bar of your browser to add the app to your desktop
    </p>
</div>
