<div class="install-prompt-backdrop" data-install-prompt-target="backdrop"></div>
<div class="install-prompt-modal" data-install-prompt-target="installPrompt">
  <h1>test modal</h1>
  <div class="install-prompt-actions">
    <button class="btn btn-secondary" data-action="click->install-prompt#dismiss">Skip</button>
    <button class="btn btn-primary" data-action="click->install-prompt#install">Install</button>
  </div>
</div>