.btn {
  // Base
  display: inline-block;
  padding: 0.375rem 1rem;
  border-radius: $border-radius;
  background-origin: border-box; // Invisible borders with linear gradients
  background-color: transparent;
  border: solid 2px transparent;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: filter 400ms, color 200ms;

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    transition: filter 250ms, color 200ms;
  }

  // Modifiers
  &--primary {
    color: $color-white;
    background-image: linear-gradient(to right, $color-primary, $color-primary-rotate);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: $color-white;
      filter: saturate(1.4) brightness(115%);
    }
  }

  &--secondary {
    color: $color-white;
    background-image: linear-gradient(to right, $color-secondary, $color-secondary-rotate);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: $color-white;
      filter: saturate(1.2) brightness(110%);
    }
  }

  &--light {
    color: $color-dark;
    background-color: $color-light;

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: $color-dark;
      filter: brightness(92%);
    }
  }

  &--dark {
    color: $color-white;
    border-color: $color-dark;
    background-color: $color-dark;

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: $color-white;
    }
  }
}

// BLUE BUTTON
$blue: #434446;
$turquoise: #1abc9c;

.btn-blue {
  background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  line-height: 42px;
  width: auto;
  padding: 0;
  border: none;
}

.btn-blue:hover {
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
}

.btn-blue span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-blue:before,
.btn-blue:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .9),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  transition: all 0.3s ease;
}

.btn-blue:before {
  height: 0%;
  width: .1px;
}

.btn-blue:after {
  width: 0%;
  height: .1px;
}

.btn-blue:hover:before {
  height: 100%;
}

.btn-blue:hover:after {
  width: 100%;
}

.btn-blue span:before,
.btn-blue span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .9),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  transition: all 0.3s ease;
}

.btn-blue span:before {
  width: .1px;
  height: 0%;
}

.btn-blue span:after {
  width: 0%;
  height: .1px;
}

.btn-blue span:hover:before {
  height: 100%;
}

.btn-blue span:hover:after {
  width: 100%;
}
