// Base Button
.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

// Base Button
.btn {
  display: inline-block;
  padding: 0.375rem 1rem;
  border-radius: $border-radius;
  background-origin: border-box; // Invisible borders with linear gradients
  background-color: transparent;
  border: solid $border-radius transparent;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: filter 400ms, color 200ms;

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    transition: filter 250ms, color 200ms;
  }

  // Modifiers
  // &--primary {
  //   color: $color-white;
  //   background-image: linear-gradient(to right, $color-primary, $color-primary-rotate);

  //   &:hover,
  //   &:focus,
  //   &:focus-within,
  //   &:active {
  //     color: $color-white;
  //     filter: saturate(1.4) brightness(115%);
  //   }
  // }

  &--secondary {
    color: $color-white;
    background-image: linear-gradient(to right, $color-secondary, $color-secondary-rotate);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: $color-white;
      filter: saturate(1.2) brightness(110%);
    }
  }

  &--light {
    color: $color-dark;
    background-color: $color-light;

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: $color-dark;
      filter: brightness(92%);
    }
  }

  &--dark {
    color: $color-white;
    border-color: $color-dark;
    background-color: $color-dark;

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: $color-white;
    }
  }
}

// BLUE BUTTON
$blue: #434446;
$turquoise: #1abc9c;

.button--primary {
  background-color: $soft-purple;
  color: $white !important;
  background-image: linear-gradient(315deg, $primary-purple 0%, $primary-purple 74%);
  box-shadow: $box-shadow;
  line-height: $button-height;
  width: auto;
  padding: 0;
  border: none;
}

.button--primary:hover {
  background-color: $primary-purple;
  background-image: linear-gradient(315deg, $primary-purple 0%, $primary-purple 74%);
}

.button--primary span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.button--primary:before,
.button--primary:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .9),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  transition: all 0.3s ease;
}

.button--primary:before {
  height: 0%;
  width: .1px;
}

.button--primary:after {
  width: 0%;
  height: .1px;
}

.button--primary:hover:before {
  height: 100%;
}

.button--primary:hover:after {
  width: 100%;
}

.button--primary span:before,
.button--primary span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .9),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  transition: all 0.3s ease;
}

.button--primary span:before {
  width: .1px;
  height: 0%;
}

.button--primary span:after {
  width: 0%;
  height: .1px;
}

.button--primary span:hover:before {
  height: 100%;
}

.button--primary span:hover:after {
  width: 100%;
}

.button-secondary {
  @extend .btn;
  color: $white !important;
  background-color: lighten($primary-purple, 9%) !important;
  box-shadow: $box-shadow;
}

.button-delete {
  @extend .btn;
  color: $black !important;
  background-color: $white !important;
  border: 1px solid $black !important;
  box-shadow: $box-shadow;
}

.button-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.button-google {
  @extend .btn;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid $black !important;
  position: relative;
  box-shadow: $box-shadow;
  
  span {
    text-align: center;
  }

  img {
    height: 70%;
    position: absolute;
    left: 8px;
  }
}

.button-basic-text {
  color: $color-text-body;
  text-decoration-thickness: 1px;
}