.simple-calendar {
  border-radius: 20px; // Adjust as necessary to get the desired roundness
  overflow: hidden; // This will ensure that content inside the border doesn't spill out

  .calendar-heading {
    border-top-left-radius: 20px; // Match with the border-radius given to simple-calendar
    border-top-right-radius: 20px; // Match with the border-radius given to simple-calendar
  }

  .day {
    position: relative;
    padding: 0px;
    height: 30px !important;
    border-radius: 5px;
    background-color: #f0f0f0;
    text-align: center;

    &.has-event .event-indicator {
      display: block;
    }
  }

  .table {
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    border: 1px hidden #dddddd;
    border-collapse: separate;
    border-spacing: 8px;

    .calendar-table {
      width: 100%;
      max-width: 390px;
      margin: 0 auto;
      border: 1px hidden #dddddd;
      border-collapse: separate;
      border-spacing: 8px;
      border-radius: 5%;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

      th {
        text-align: center;
        font-weight: bold;
      }
    }
  }
}

.event-indicator {
  text-align: center;
}

@media only screen and (max-width: 1170px) {
  .calendar-table {
    width: 100%;
  }
}
