.simple-calendar {
  border-radius: $border-radius;
  overflow: hidden;
  width: 350px !important;


  .calendar-heading {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    padding: 0% 1%;
    background-color: $soft-purple;
  }

  .calendar-title {
    font-size: $font-size-xxl;
    color: $white;
  }

  .prev-month,
  .next-month {
    background: lighten($soft-purple, 10%);
    color: white;
  }

  .today {
    background: $pink !important;
  }

  .day {
    padding: 1px;
    position: relative;
    height: 40px !important;
    width: 40px !important;
    border-radius: $border-radius !important;
  }

  .calendar-day-link {
    display: block;
    text-decoration: none;
    color: darken($soft-purple, 50%);
  }

  .calendar-day-link:hover {
    background-color: #f0f0f0;
    border-radius: 50%;
  }

  .table {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 8px;
    table-layout: fixed;
    width: 100%;

    thead tr th {
      border-radius: $border-radius;
      text-align: center;
      padding: 0;
      background-color: darken($soft-purple, 10%);
      color: white;
    }
  }

  .table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-bg-type: none;
  }

  .event-indicator {
    position: absolute;
    z-index: 1;
    right: -5px;
    top: -4px;
    font-size: 1.1em;
  }
}
