// Import the media mixin
@import "mixins/media";

.happy_thing {
  // Base
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $space-s;

  background-color: $color-white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin-bottom: $space-m;
  padding: $space-xs;

  @include media(tabletAndUp) {
    padding: $space-xs $space-m;
  }

  &__actions {
    display: flex;
    flex: 0 0 auto;
    align-self: flex-start;
    gap: $space-xs;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  // gap: 5px;

  a,
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 10px;
    height: 44px;
    padding: 5px 10px;
    margin: 0 1px;
    text-decoration: none;
    color: $pink;
    // background-color: $white;
    // border-radius: 4px;

    &:hover {
      background-color: $white;
      color: $pink;
    }
  }

  .current {
    font-weight: bold;
    background-color: $pink;
    border-radius: 8px;
    color: $white;
  }

  .disabled {
    opacity: 0.5;
  }
}

@media (max-width: 600px) {
  .pagination li a {
    padding: 12px 10px;
    font-size: 0.9rem;
  }
}

@keyframes heartFloatToCorner {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -80%) scale(1.3);
  }
  100% {
    opacity: 1;
    font-size: 1.2rem;
    top: -6px;
    right: -6px;
    left: auto;
    transform: translate(0, 0) scale(1);
  }
}
