// Import the media mixin
@import "mixins/media";

.happy_thing {
  // Base
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $space-s;

  background-color: $color-white;
  border-radius: $border-radius;
  box-shadow: $shadow-small;
  margin-bottom: $space-m;
  padding: $space-xs;

  @include media(tabletAndUp) {
    padding: $space-xs $space-m;
  }

  &__actions {
    display: flex;
    flex: 0 0 auto;
    align-self: flex-start;
    gap: $space-xs;
  }
}
