<% if notice.present? %>
  <div class="flash-toast flash-toast--notice">
    <p class="mb-0"><%= notice %></p>
  </div>
<% end %>

<% if alert.present? %>
  <div class="flash-toast flash-toast--alert">
    <p class="mb-0"><%= alert %></p>
  </div>
<% end %>
